//COLORS
$primary: #d1a636;

$white: #fff;
$light-gray: rgb(247, 247, 249);
$gray: #c3c3c3;
$black: #000;

$gold: #d1a636;
$premiere: #45301d;
$prestige: #a6605e;
$executive: #dcb689;

$logo-color: #d7a739;

//FONT SIZES
$font-size-base: 1rem !default;

$text-xs: 0.8rem;
$text-sm: 1rem;
$text-md: 1.2rem;
$text-lg: 2.7rem;
$text-xl: 7rem;

//FONT WEIGHT
$headings-font-weight: 400 !default;

//FONT FAMILY
$font-primary: "Nunito Sans", sans-serif;
$font-secondary: "Libre Baskerville", serif;

//NAVBAR
$navbar-light-color: $primary !default;
