.benefits {
  h5 {
    text-transform: none;
    color: $primary;
  }

  ul {
    margin-bottom: 3rem;
    ol {
      padding: 0;
    }
  }
}

.client {
  h4 {
    font-family: $font-primary;
    text-transform: none;
  }

  .client-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;

    @media (max-width: 768px) {
      & {
        grid-gap: 0.8rem;
      }
    }

    @media (max-width: 576px) {
      & {
        grid-gap: 0.4rem;
      }
    }

    @media (max-width: 385px) {
      & {
        grid-gap: 0.2rem;
      }
    }

    .client-image-container {
      padding: 0;
    }
  }
}

.contact {
  h4 {
    margin-bottom: 0.5rem;
    font-family: $font-primary;
    color: $primary;
    text-transform: none;
  }

  p {
    margin-bottom: 2.5rem;
    color: $dark-gray;
  }

  .contact-icons {
    font-size: 1.65rem;
    padding-right: 0.5rem;
    margin-bottom: 0.3rem;
  }
}
