.product {
  .product-description {
    p:last-of-type {
      margin-bottom: 0.25rem;
    }
  }
}

//Recliner
.modal-recliner {
  .carousel-indicators {
    li {
      background-color: $recliner !important;
    }
  }

  .prev-next-recliner {
    color: $recliner;
  }
}

//Deluxe
.modal-deluxe {
  .carousel-indicators {
    li {
      background-color: $primary !important;
    }
  }

  .prev-next-deluxe {
    color: $primary;
  }
}

//Queen
.modal-queen {
  .carousel-indicators {
    li {
      background-color: $queen !important;
    }
  }

  .prev-next-queen {
    color: $queen;
  }
}

//King
.modal-king {
  .carousel-indicators {
    li {
      background-color: $king !important;
    }
  }

  .prev-next-king {
    color: $king;
  }
}

//VIP
.modal-vip {
  .carousel-indicators {
    li {
      background-color: $vip !important;
    }
  }

  .prev-next-vip {
    color: $vip;
  }
}

//Prev Button
.prev {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

//Product Review
.view-products {
  padding: 0;
  background-color: $white;
  color: $primary;
  text-transform: none;
  font-weight: 400;
}

.view-products:hover {
  color: $black;
  transition: all 0.8 ease-out;
}

//Review Card
.review-card {
  .review-card-profile {
    width: 100px;
    height: 100px;
    background-color: $primary;
    border-radius: 50%;

    .review-card-profile-icon {
      display: block;
      height: 100%;
      margin: 0 auto;
      padding-bottom: 1.5px;
      color: $white;
      font-size: 2rem;
    }
  }
}

//Review Controls
.modal-review {
  .carousel-indicators {
    li {
      background-color: $primary !important;
    }
  }

  .prev-next-review {
    color: $primary;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }
}
