.product {
  .product-description {
    p:last-of-type {
      margin-bottom: 0.25rem;
    }
  }
}

//Deluxe
.modal-deluxe {
  .carousel-indicators {
    li {
      background-color: $primary !important;
    }
  }

  .prev-next-deluxe {
    color: $primary;
  }
}

//Premiere
.modal-premiere {
  .carousel-indicators {
    li {
      background-color: $premiere !important;
    }
  }

  .prev-next-premiere {
    color: $premiere;
  }
}

//Prestige
.modal-prestige {
  .carousel-indicators {
    li {
      background-color: $prestige !important;
    }
  }

  .prev-next-prestige {
    color: $prestige;
  }
}

//Executive
.modal-executive {
  .carousel-indicators {
    li {
      background-color: $executive !important;
    }
  }

  .prev-next-executive {
    color: $executive;
  }
}

//Prev Button
.prev {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

//Product Review
.view-products {
  padding: 0;
  background-color: $white;
  color: $primary;
  text-transform: none;
  font-weight: 400;
}

.view-products:hover {
  color: $black;
  transition: all 0.8 ease-out;
}

//Review Card
.review-card {
  .review-card-profile {
    width: 60px;
    height: 60px;
    background-color: $primary;
    border-radius: 50%;

    .review-card-profile-icon {
      display: block;
      height: 100%;
      margin: 0 auto;
      padding-bottom: 1.5px;
      color: $white;
      font-size: 2rem;
    }
  }
}

//Review Controls
.modal-review {
  .carousel-indicators {
    li {
      background-color: $primary !important;
    }
  }

  .prev-next-review {
    color: $primary;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }
}
