.modal-deluxe {
  .carousel-indicators {
    li {
      background-color: $primary !important;
    }
  }
}

.prev {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.prev-next-deluxe {
  color: $primary;
}
